<!-- 左边 -->
<div class="row">
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <h5>新增角色</h5>
  </div>
</div>
<hr/>
<div class="row">
  <div class="form-horizontal role_set_wrap" role="form">
    <div class="form-group">
      <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">角色</label>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <input type="text" name="name" class="form-control" placeholder="请输入角色" value="{$user.name}">
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-6  col-md-offset-2 col-lg-6 col-sm-lg-2 ">
      <input type="hidden" name="id" value="{$user.id}"/>
      <button type="dubmit" class="btn btn-primary pull-right" id="save">确定</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".role_set_wrap #save").click(function(){
    var id = $(".role_set_wrap input[name=id]").val();
    var name = $(".role_set_wrap input[name=name]").val();

    // if(name==""){
    //   alert('名称不能为空');
    //   return false;
    // }

    $.ajax({
      type:"POST",
      data:{
        id:id,
        name:name,
      },
      url:"{:U('Home/Role/set')}",
      async:true,
      timeout:5000,    //超时时间
      dataType:'json', //返回的数据格式：json/xml/html/script/jsonp/text
      success:function(data, textStatus){
        alert(data.msg);
        console.log(data.msg)
        if (data.status == 1 ) {window.location.href = "{:U('Home/Role/index')}";}
      },
      error:function(data, textStatus){
        alert(data.msg);
        console.log(data.msg)
      },
    });
  });
</script>
