<div class="row">
  <div class="col-xs-9 col-sm-9 col-md-9  col-lg-9">
    <h5>用户列表</h5>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3  col-lg-3">
    <a href="{:U('User/set')}" class="btn btn-link pull-right"><button type="button" class="btn btn-info">添加用户</button></a>
  </div>
</div>
<hr/>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>用户</th>
      <th>邮箱</th>
      <th>状态</th>
      <th>管理员</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
      <foreach name="list" item="v">
        <tr id="{$v.id}">
          <td >{$v.id}</td>
          <td>{$v.name}</td>
          <td>{$v.email}</td>
          <td>
            <if condition="$v.status eq 1"> <b>启用 </b>
            <elseif condition="$v.status eq 0"/> <b>禁用</b>
            </if>
          </td>
          <td>
            <if condition="$v.is_admin eq 1"> <b>是</b>
            <elseif condition="$v.is_admin eq 0"/> <b>否</b>
            </if>
          </td>
          <td>
              <a href="{:U('User/set',array('uid'=>$v['id']))}">启用 </a>
              <a href="{:U('User/set',array('uid'=>$v['id']))}">编辑</a>
              <a href="javascript:void(0)" onclick="del({$v.id});" >删除</a>
              <a href="">分配角色</a>
          </td>
        </tr>
      </foreach>
    </tbody>
  </table>
  <div>{$page}</div>
</div>
<script type="text/javascript">
  function del(id) {
    confirm_ = confirm('您确定要删除吗?');
    if (confirm_) {
      $.ajax({
        type:"POST",
        data:{
          id:id,
        },
        url:"{:U('Home/User/delete')}",
        async:true,
        timeout:5000,    //超时时间
        dataType:'json', //返回的数据格式：json/xml/html/script/jsonp/text
        success:function(data, textStatus){
          alert(data.msg);
          console.log(textStatus);

          if (data.status == 1 ) {
            $("#"+id).remove();
            window.location.href = "{:U('Home/User/index')}";
          }
        },
        error:function(data, textStatus){
          alert(data.msg);
          console.log(textStatus)
        },
      });
    }

  }

</script>
